.card {
  display: flex;
  flex-direction: column;
}
.character-list {
  margin-top: 20px;
}
.character-info {
  background-color: #04b4c4;
  color: white;
  width: 18.75em;
  margin: 0px;
}
