@font-face {
  font-family: 'Rick-Morty';
  src: url('../../fonts/font.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.form {
  display: flex;
  justify-content: center;
}

.error-message {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 100px;
  letter-spacing: 2px;
}
